
<footer>
    <div class="footer--intro">
        <h2>Join Our news letter</h2>
        <p>Signup to be the first to hear about exclusive deals, special offers and upcoming collections</p>
        <form action="/fab/new-letter-email" method="post" class="email--form">
            <input type="text" name="email" placeholder="enter your email here">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="sitemaps">
        <div>
            <h3>FAB</h3>
            <ul>
                <li>1418 River Drive, Suite 35 Cottonhall, CA 9622
                    United States</li>
                <li>sale@bookworm.com</li>
                <li>+1 246-345-0695</li>
            </ul>
        </div>
        <div>
            <h3>Explore</h3>
            <ul>
                <li>About us</li>
                <li>Sitemap</li>
                <li>Book Marks</li>
                <li>Sign in/join</li>
            </ul>
        </div>
        <div>
            <h3>Customer Service</h3>
            <ul>
                <li>Help Center</li>
                <li>Returns</li>
                <li>Product Recalls</li>
                <li>Accessibility</li>
                <li>Contact Us</li>
                <li>Store Pickup</li>
            
            </ul>
        </div>
        <div>
            <h3>Policy</h3>
            <ul>
                <li>Return Policy</li>
                <li>Terms Of Use</li>
                <li>Security</li>
                <li>Privacy</li>            
            
            </ul>
        </div>
        <div>
            <h3>Categories</h3>
            <ul>
                <li>Action</li>
                <li>Comedy</li>
                <li>Drama</li>
                <li>Horror</li>
                <li>Kids</li>
                <li>Romantic Comedy</li>
            </ul>
        </div>
    </div>
</footer>
<div class="copy--right">
    <div>
        <p>&copy;2020 Book Worm. All rights reserved</p>
    </div>
    <div class="footer--logos">
        <i class="fa-brands fa-paypal"></i>
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
    </div>
</div>
</body>
</html>