<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/index.css" />
    <script src="/js/app.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <nav>
      <h3>FAB</h3>
      <ul>
        <li class="nav--list"><a href="/fab">Shop</a></li>
        <li class="nav--list"><a href="/fab/cart">Cart</a></li>
        <li class="nav--list"><a href="/fab/orders">Orders</a></li>
        <li class="nav--list"><a href="/fab/wish-list">Wish List</a></li>
        <li class="nav--list"><a href="/fab/add-product">Add Product</a></li>
      </ul>
    </nav>
  </body>
</html>
